<h1>Orders for <%= current_user.email %></h1>
<ul>
  <% @orders.each do |order| %>
    <li>Shirt: <%= order.shirt.team %></li>
    <!-- Adicione outros detalhes do pedido conforme necessário -->
  <% end %>
</ul>

<%# shirt_orders %>
<div class=footer>
  <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">2024 Company, Inc. All rights reserved.</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
