  <%# <h1>Parabens, sua compra chegara em 3 dias uteis.</h1>

  API



  Time barcelona

  <h2> o proximo jogo do barcelona sera no dia xxxxx</h2>


  <div>
    <%= link_to 'Back to Orders', orders_path %>
  <#/div> %>
