<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #59D5E0;">
  <div class="container">
    <a class="navbar-brand" href="#">JerseyLand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Camisas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Times europeus</a></li>
            <li><a class="dropdown-item" href="#">Times nacionais</a></li>

            <li><a class="dropdown-item" href="#">Seleções</a></li>
          </ul>
        </li>
    <button class="btn btn-outline-light btn-anuncio" type="button"><%= link_to 'Anuncie aqui', order_path(:id) %></button>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="O que você está procurando?" placeholder="O que você está procurando?" aria-label="O que você está procurando?">
      </form>
    </div>
  </div>
</nav>