<h1>Compras de <%= current_user.email %></h1>
      
<div class="container">
  <ul>
    <% @orders.each do |order| %>
      <li>Shirt: <%= order.shirt.team %></li>
       <% if  order.shirt.photo.attached?  %>
        <%= cl_image_tag order.shirt.photo.key, height: 300, width: 300, crop: :fill %>
          <% end %>
    <% end %>
  </ul>

  <div>
    <%= link_to 'Compre mais',  shirts_path, class: 'btn btn-primary'%>
  </div>
</div>
<%# shirt_orders %>

