

<div class="container">
  <h1>Minhas Compras <%= current_user.email %></h1>
  <div>
    <%= link_to 'Compre mais',  shirts_path, class: 'btn btn-primary'%>
  </div>
  <ul>
    <% @orders.each do |order| %>
      <li>Shirt: <%= order.shirt.team %></li>
      <!-- Adicione outros detalhes do pedido conforme necessário -->
    <% end %>
  </ul>
    <%= link_to 'Back to home', shirts_path %>
</div>
