<h1> Faça aqui seu anúncio </h1>
<%= @order %>

<%= link_to 'Back to home', shirts_path %>

<%# <%= link_to 'Anuncie aqui', edit_shirt_path(@shirt)%>

 <%# <%= button_to 'Buy this Shirt',  shirt_orders_path(@shirt) , class: 'btn btn-primary'  %>