<h1>  JerseysLand </h1>

  <div class='container'>
    <div class='row'>
      <% @shirts.each do |shirt| %>
        <div class='col-4'>
          <div class="card mt-3">
      
            <%= link_to shirt_path(shirt), class: 'card-img-top d-flex justify-content-center bg-white' do %>  
              <%= cl_image_tag shirt.photo.key, crop: :fill, height: 200 %>
            <% end %>


            <div class="card-body">
              <h2><%= shirt.team %></h2>
              <p class="card-text">Football team jerseys starting from $<strong><%= shirt.price %> </strong></p>
            </div>
          
          </div>
        </div>
      <% end %>
    </div>
  </div>





  
