
.align-items-center {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-custom {
  background-color: #F1FADA;
  color: #265073;
  border-radius: 10px;
  margin-right: 15px;
}

.btn-custom:hover {
  background-color: #F1FADA;
  border-color: #F1FADA;
  color: #265073;
}

.form-control {
  width: 300px;
  color: #C5C4C4
}